* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.footer, .header {
    font-family: Helvetica ,fantasy;
    flex-grow: 0;    
    position: absolute;
    margin: 0;
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    top: 0;
    font-size: xx-large;
    font-weight: bolder;
    padding: 10px;
    background-color: #000;
}

.header > button {
    position: absolute;
    margin: 0;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;
}

.header > button:hover {
    border: whitesmoke 2px solid;
    background-color: #333;
}

#sortButton {
    padding: 5px 12px;
    right: 0;
}

#addButton {
    padding: 5px 11px;
    left: 0;
}

.footer {
    bottom: 0;
    padding: 5px;
    background-color: grey;
    font-size: small;
}

.footer > p > a {
    color: white;
    text-decoration: none;
}

.newNote {
    position: absolute;
    right: 50vw;
    bottom: 50vh;
    
    transform: translate(50%, 50%);

    width: 250px;
    padding: 20px;

    border: lightgray 2px solid;
    border-radius: 5px;

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.addNoteButton, .closeButton {
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: white;
    font-size: large;
    font-weight: bolder;
    font: helvetica;
}

.addNoteButton:hover,
.closeButton:hover {
    border: black 2px solid;
    background-color: whitesmoke;
    color: black;
}

.closeButton {
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 105%;
}

.addNoteButton {
    padding: 10px 15px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container {
    margin: 0;
    padding: 20px;
    padding-top: 10vh;
    padding-bottom: 5vh;
    max-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 20px;
    background-color: antiquewhite;
}

.note {
    padding: 20px;

    border-radius: 10px;
    border: solid 2px lightgrey;

    width: 250px;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.importance {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttonHolder {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.buttonHolder > button {
    width: 60px;
    margin: 0;
    border: none;
    background-color: #000;
    color: white;
    font-size: small;
    font-weight: bolder;
    font-family: Helvetica;
}

.buttonHolder > button:hover {
    border: black 2px solid;
    background-color: whitesmoke;
    color: black;
}

.editNote {
    border-radius: 15px 0 0 15px;
    padding: 5px;
    padding-right: 10px;
    text-align: right; 
}

.deleteNote {
    border-radius: 0 15px 15px 0;
    padding: 5px;
    padding-left: 10px;
    text-align: left;
}

.title, .date, .description, .details{
    width: 200px;
    height: 30px;
    padding: 5px;
    font-family: Helvetica;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date {
    font-size: small;
    font-weight: bold;
    color: darkgrey;
    height: auto;
}

.importance {
    font-size: small;
    font-weight: bold;
    color: darkgrey;
    text-align: right;
    height: auto;
}

.description {
    font-size: small;
    font-weight: bolder;
    max-height: 100px;
    height: 200px;
    color: rgba(67, 66, 66, 0.685);
    overflow-wrap: break-word;
    overflow-y: auto;
}

.title {
    font-size: medium;
    font-weight: bold;
    color: rgba(67, 66, 66, 0.91);
    /* text-align: center; */
    overflow-wrap: break-word;
    overflow-y: auto;
}

label {
    font-size: small;
    font-weight: bold;
    color: rgb(77, 77, 77);
    text-align: left;
    width: 100%;
    font-family: Helvetica;
    padding: 0;
    margin: 0;
}

textarea,
input {
    border-radius: 5px;
    border: lightgrey 2px solid;
    width: 200px;
    height: 30px;
    padding: 5px;
}

textarea {
    height: 100px;
    resize: none;
}

textarea:focus,
input:focus {
    border: #000 2px solid;
}

input[type="range"] {
    height: 5px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    border: none;
}

.sideBar {
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.sideBar > .closeButton {
    position: absolute;
    top: 10px;
    left: 10px;
}

.sideBarMenu {
    padding: 0;
    margin: 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sideBarButton {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: white;
    font-size: large;
    font-weight: bolder;
    font-family: Helvetica;
}

.sideBarButton:hover {
    border: black 2px solid;
    background-color: whitesmoke;
    color: black;
}

.sideBarButton:active {
    border: black 2px solid;
    background-color: #333;
    color: black;
}

.sideBarTitle {
    font-size: x-large;
    font-weight: bolder;
    width: 200px;
    text-align: left;
    font-family: Helvetica;
    color: #000;
}

.sideBarLabel {
    width: 200px;
    text-align: left;
}